/* --------Navbar------- */
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.collapse ul.navbar-nav li.nav-item a.nav-link.carii {
  color: #39976c;
}
.collapse ul.navbar-nav li.nav-item a.nav-link.carii:hover {
  color: #39976c;
  outline: 2px solid #39976c;
}
.collapse ul.navbar-nav li.nav-item a.nav-link.illoginn {
  color: #39976c;
}
.collapse ul.navbar-nav li.nav-item a.nav-link.lloginn:hover {
  color: #fff;  
}

.navbar-collapse ul li.nav-item,
.navbar-collapse ul li.nav-item a.nav-link {  
  border-radius: 10px;
}

.navbar-collapse ul li.nav-item:hover,
.navbar-collapse ul li.nav-item:focus,
.navbar-collapse ul li.nav-item:not(.lloginn):hover,
.navbar-collapse ul li.nav-item:not(.lloginn):focus {
  background-color: #39976c;
  border-radius: 10px;
}

.navbar-collapse ul li a.nav-link:hover {
  color: #fff !important;
}

li.nav-item:hover,
a.dropdown-item:hover {
  color: #fff !important;
  background-image: none;
  background-color: #39976c;
}

.navbardivider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}

p.lmbmsykrt:hover {
  color: #fff;
  background-color: #39976c;
}

@media (max-width: 1200px) {
  ul li.nav-item {
    padding: 0px 10px;
  }
}

/* --------hero------- */

.bigBsCarousel.active{
  -webkit-animation: fadein 7s;
  -moz-animation: fadein 7s;
  -ms-animation: fadein 7s; 
  -o-animation: fadein 7s; 
  animation: fadein 7s;  
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media (max-width: 575px) {
  .bigBsCarousel {
    max-height: 300px;
    object-fit: contain;
  }
}
@media (min-width: 576px) { 
  .bigBsCarousel {    
    max-height: 320px;
    object-fit: contain;
  }
}
@media (min-width: 768px) { 
  .bigBsCarousel {    
    max-height: 420px;    
    object-fit: contain;
  }
}
@media (min-width: 992px) { 
  .bigBsCarousel {    
    max-height: 520px;
    object-fit: contain;
  }
}
@media (min-width: 1200px) {
  .bigBsCarousel {
    max-height: 720px;
    object-fit: contain;    
  }
}

.bigBsCarousel {
  width: 100%;
}

#hero {
  width: 100%;  
  padding: 50px 0 10px 0;
  position: relative;
  background: url("/assets/img/web-bg-500-700-min-new.png") center bottom no-repeat;  
  background-size: cover;
}

#bigTitle {
  padding-bottom: 50px;
}

#hero .hero-info {  
  width: 100%;
  text-align: center;  
}

@media (max-width: 991px) {
  #hero .hero-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 767px) {
  #hero .hero-info {
    width: 100%;
  }
}

#hero .hero-info h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

#hero .hero-info h2 span.underline {
  color: #f2db75;
  text-decoration: underline;
}

@media (max-width: 767px) {
  #hero .hero-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }
}

#hero .hero-info .btn-get-started,
#hero .hero-info .btn-services {
  color: #fff;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  padding: 10px 32px;
}

@media (max-width: 991px) {
  #hero .hero-info .btn-get-started,
  #hero .hero-info .btn-services {
    margin: 0 0 0 0;
  }
}

#hero .hero-info .btn-get-started {
  color: #000;
  background: #f2db75;
  border: 2px solid #f2db75;
  text-align: center;
}

#hero .hero-info .btn-get-started:hover {
  color: #fff;
  border-color: #fff;
  background: none;
}

#hero .hero-info .btn-services {
  border: 2px solid #fff;
  text-align: center;
}

#hero .hero-info .btn-services:hover {
  color: #000;
  border-color: #f2db75;
  background: #f2db75;
}

/* --------Carousel IMG------- */

.slidehomee button.carousel-control-prev .tmblprev,
.slidehomee button.carousel-control-next .tmblnext {
  width: 40px;
  height: 40px;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  background-color: #39976c;
}

.slidehomee button.carousel-control-prev .tmblprev .tmbl,
.slidehomee button.carousel-control-next .tmblnext .tmbl {
  margin: auto;
}

.slidehomee button span.carousel-control-prev-icon,
.slidehomee button span.carousel-control-next-icon {
  margin: auto;
  margin-top: 4px;
  text-align: center;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 100%;
}

/* --------Lapak------- */

.lapak {
  background-color: #198653;
  color: #222222;
}

a.lapak:hover {  
  color: #fff;
}

/* --------Owl Carousel------- */
.owlcrsl {
  background-color: #198653;  
}
.container .row .owl-carousel .item {
  height: 330px;
  width: auto;
}

.owl-carousel .item .card {
  background-color: #f2db75;
}
.owl-carousel .item .card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.owl-prev,
.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border: 0px solid black;
}
.owl-prev {
  left: -1px;
}
.owl-next {
  right: 0px;
}
.owl-prev i,
.owl-next i {
  transform: scale(2, 5);
  color: #f2db75;
}
.owl-prev i:hover,
.owl-next i:hover {
  color: #c4af52;
}
.owl-dot {
  color: #f2db75;
}

/* --------Footer------- */

#footer {
  color: #eee;
  background: #0f5132;
  font-size: 14px;
  padding: 0 0 30px 0;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: rgb(25, 135, 84);
  background: linear-gradient(
    150deg,
    rgba(25, 135, 84, 1) 0%,
    rgba(15, 81, 50, 1) 100%
  );
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#footer .footer-top .footer-info p {
  color: #ecf5ff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
}
#footer .footer-top .social-links a {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a i {
  line-height: 0;
}
#footer .footer-top .social-links a:hover {
  background: #0a3622;
  color: #fff;
}
#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}
#footer .footer-top .footer-links ul a:hover {
  color: #f2db75;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact p {
  line-height: 26px;
}
#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}
#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  border-color: #f2db75;
}
#footer .footer-top .footer-newsletter input[type="email"]:focus {
  border-color: #f2db75;  
  outline: 1px solid #f2db75;
}
#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #f2db75;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #000;
  transition: 0.3s;
  cursor: pointer;
}
#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #d1bc5e;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}
#footer .credits a {
  color: #f1e3a1;
}
#footer .credits a:hover {
  color: #f1f7ff;
}
